body {
  background-image: url(images/background2.jpg);
}

@font-face {
  font-family: optimusPrinceps;
  src: url(fonts/OptimusPrincepsSemiBold.ttf);
}

h2, h3, h4, .player-list, .bank-quantity, .card-set-facedown, .user-name{
  font-family: optimusPrinceps;
}

button {
  padding:15px;
}

.header{
  width:100%;
}
.header img{
  width:15%;
  margin: 0 auto;
  display: block;
}

.player-list, .player-list h2, .player-list ul, .player-list li {
  display:inline;        
}

.player-list ul {
  padding: 0px;
}

.player-list li {
  list-style-type: none;
  padding: 15px;
}

.player-list li.active {
  font-weight:bold;
  text-decoration: underline;
}

.turn-dashboard {
  margin-top:25px;   
  display:grid; 
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  
}
.turn-dashboard h3 {
  display:inline;
  font-weight: normal;
}
.turn-dashboard p {
  display:inline;
  font-weight: bold;
  font-size: 18px;
  margin-right:25px;
}

.card-set{
  width:100%;
  margin:5px;
  background-color: rgba(255,255,255,.65);
  box-shadow: inset 0 0 8px gray;
}

.card-set-active, .card-set-inactive {
  overflow-x:auto;
  white-space: nowrap;
}
.card-set ul {
  padding: 0px;
  margin: 0px;
}
.card-set h2{
  padding: 5px;
  margin-top: 0px;
}
.card-set li {
  list-style-type: none;
  width:160px;
  display:inline-block;
  padding:10px;
}
.card-set-inactive li  {
  opacity: .5;
}
.card-set img {
  border-radius:5px;
}
.card-set-container1 {
  display:grid; 
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap:1rem;
}
.card-set-container2 {
  display:grid; 
  grid-template-columns: repeat(auto-fit, minmax(460px, 1fr));
  grid-gap:1rem;
}
.current-player-true .card-set-played {
  height:85%;
}
.current-player-true .notifications {
  height:15%;
  overflow:hidden;
}
.current-player-false .card-set-played {
  height:15%;
}
.current-player-false .notifications {
  height:85%;
  overflow:hidden;
}
.card-set-facedown {
  padding: 10px;
  display:block;
}

.card-active img {
  box-shadow: 0px 7px 4px -2px gray;
}
.card-inactive {
  opacity: .5;
}

.bank-quantity {
  display:block;
  text-align: center;
}

/* .actions-background, .end-screen {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,.25);
}
.actions-dialog, .end-screen-content {
  position:absolute;
  left:15%;
  padding: 20px;
  background-color: white;
  width:70%;
  top: 50%;
  transform: translateY(-50%);
} */

.active-choices {
  padding:10px;
}

@media only screen and (max-width: 600px) {
  .actions-dialog, .end-screen-content {
      left:5%;
      width:90%;    
  }
}

.actions-dialog ul {
  padding: 0px;
}
.actions-dialog li  {
  padding: 10px;;
}
.active-choices input[type=checkbox], .active-choices input[type=radio]{
  transform: scale(2);
  margin-left:20px;
}
.active-choices .card-set input[type=checkbox], .active-choices .card-set input[type=radio]{
  margin-left:-20px;
}
.active-choices .card-set input[type=checkbox].no-image-checkbox, .active-choices .card-set input[type=radio].no-image-checkbox {
margin-left: 0px;
}
.no-image-choice {
display: inline-block;
}
li.no-cards-choices {
  display:block;
  width:initial;
}

/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/

